* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font: 100 17px Calibri;
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0 auto;
    display: block;
    background: white;
}

.imp {
    position: absolute;
    padding: 10px 15px;
    width: 250px;
    border: 1px solid black;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    background: inherit;
}

.corner {
    border: 15px solid transparent;
    border-left: 15px solid black;
    transform: rotateZ(45deg);
    position: absolute;
    right: -16px;
    top: -16px;
    z-index: 0;
}