* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font: 100 17px Calibri, Arial;
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0 auto;
    display: block;
    background: white;
}

input {
    outline: none;
}

input[type=checkbox] {
    display: none;
}

label {
    cursor: pointer
}

input[type=number] {
    border: 1px solid #666;
    padding: 6px 10px;
    font: inherit;
    width: 100%;
}

#imp {
    position: absolute;
    padding: 10px 15px;
    width: 250px;
    border: 1px solid black;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    background: inherit;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.corner {
    border: 15px solid transparent;
    border-left: 15px solid black;
    transform: rotateZ(45deg);
    position: absolute;
    right: -16px;
    top: -16px;
    z-index: 0;
}

label[for=title] {
    margin-top: 10px;
    display: block;
}

#refresh {
    width: 40px;
    height: 40px;
    background: rgb(80, 114, 153) url(../img/reload.svg) 50% 50%/71% no-repeat;
    position: fixed;
    z-index: 2;
    border-radius: 2px;
    margin: 10px;
    top: 50px;
    cursor: pointer;
}

#refresh:hover {
    background: #2a5885 url(../img/reload.svg) 50% 50%/71% no-repeat;
}

#open+label {
    width: 40px;
    height: 40px;
    display: block;
    background: rgb(80, 114, 153) url(../img/settings.svg) 50% 50%/71% no-repeat;
    position: fixed;
    z-index: 2;
    border-radius: 2px;
    margin: 10px;
}

#open+label:hover {
    background: #2a5885 url(../img/settings.svg) 50% 50%/71% no-repeat;
}

#settings {
    display: none;
    position: fixed;
    z-index: 2;
    left: 67px;
    top: 10px;
    width: 280px;
    padding: 15px;
    border: 1px solid black;
    background: white;
}

#settings span {
    display: block;
    font-weight: 600;
    margin: -4px 0 7px 0;
}

#settings .corner {
    right: auto;
    top: 9px;
    transform: rotateZ(180deg);
    left: -20px;
    border: 10px solid transparent;
    border-left: 10px solid black;
}

#open:checked~#settings {
    display: block;
    animation: fadeIn 0.2s ease-in-out both;
}

#open:checked+label {
    background: #2a5885 url(../img/settings.svg) 50% 50%/71% no-repeat;
}

.anim {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin-left: -20px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}